<style>

 body { margin:0; padding:0; }
 
 #map { position:absolute; top:0; bottom:0; width:100%; }
  
  p#someElement{
	  padding:1em; 
  	  background:pink; 
	  
	  }
	  
 #stateList {
	 position: relative;
	 left: 50px;
	 
 }

 #productList {
	 position: relative;
	 left: 100px;
	 
 }


</style>